body {
    background-color: rgb(18, 168, 143);
    text-align: center;
}
.jumbotron{
  background-color: inherit;
}

#images img{
  width: 200px;
  padding-bottom: 25px;
}


#main {
   margin-top: 20px;
}

#header{
  padding-bottom: 20px;
}

#images {
  height: 200px;
}

button{
  width: 200px;
  margin: 0 20px 0 20px;
}
input{
  height: 35px;
  margin: 0 20px 0 20px;
  width: auto;
}
